.historical-rates {
  &__info {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  &__graph {
    width: 100%;
    height: 250px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}