.form-select {
  width: 200px;
  display: inline-block;

  &__select {

    &--error .Select-control,
    &--error .Select-control:focus {
      border: 1px solid #db2c2c !important
    }

    &--warning .Select-control {
      border: 1px solid #fbc736 !important
    }
  }
}

.Select-control {
  border-radius: 0;
  height: 28px;
  transition: border .15s linear;
  border: 1px solid #f2f2f2;

  &:hover {
    box-shadow: none
  }
}

.Select-input {
  height: 28px;
  width: 100%;

  & > input {
    width: 96% !important;
    font-weight: 100;
    font-size: 13px;
  }
}

.Select-multi-value-wrapper {
  padding: 50px 0
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 30px;
  font-size: 13px;
}

.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #a6a6a6;
  box-shadow: none;
}

.Select-loading {
  display: flex;
  align-self: center;
  border-right-color: #1a3c7b;
}

.Select-menu-outer {
  border-radius: 0;
  box-shadow: none;
  z-index: 2;

  font-weight: normal;
  font-size: 13px;
}
