.headline {
  align-self: flex-start;
  font-weight: bold;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: color .3s;
  display: inline-block;

  &--disabled {
    cursor: not-allowed;
    color: #a6a6a6;
  }
  &--required {
    &::after {
      font-weight: normal;
      margin-left: 5px;
      content: '*';
      color: #db2c2c;
    }
  }
}